.App {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.headerImg {
  /* width: 10px; */
  height: 100px;
}
table {
  width: 90%;
  border-collapse: collapse;
}
table td {
  padding: 5px;
  border: 1px solid white;
}
table tr {
  text-align: center;
}
table tr:nth-child(even){background-color: lavender;}
table tr:hover {background-color: hotpink;}
table th {
  padding: 5px 5px;
  text-align: center;
  background-color: darksalmon;
  color: white;
}